body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    display: flex;
    justify-content: center;
    padding: 50px 20px 20px;
    background-color: #4d4d4d;
    color: #ffffff;
    flex-wrap: wrap;
}

.form-item {
    margin: 15px;
}

.high-pri {
    color: #b40000;
    background-color: #ffffff;
    font-weight: bold;
    padding: 3px;
}

.low-pri {
    color: #129201;
    background-color: #ffffff;
    font-weight: bold;
    padding: 3px;
}

input[type="submit"], input[type="submit"]:visited, input[type="submit"]:active {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #4d4d4d;
    color: #ffffff;
    border: 3px solid #ffffff;
    outline: none;
}

input[type="text"] {
    outline: none;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin: 20px;
}

li {
    width: 370px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 8px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 10px;
}

.high {
    border: 3px solid #4d4d4d;
    background-color: #b40000;
    color: #ffffff;
}

.low {
    border: 3px solid #4d4d4d;
    background-color: #129201;
    color: #ffffff;
}

.done {
    border: 3px solid #4d4d4d;
    background-color: #ffffff;
    color: #4d4d4d;
}

.button-item:hover {
    cursor: pointer;
    background-color: transparent;
    color: #ffffff;
    border: 3px solid #ffffff;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-item {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    color: #4d4d4d;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
}